@import "../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../bower_components/neat/app/assets/stylesheets/_neat.scss";



main{
  @include outer-container;
}

header{
  @include outer-container;
  width: 100%;
  height: 35px;
  background: #e1e1e1;
  position: relative;
  a{
    @include span-columns(3);
    @include shift(1);
    margin: 0;
    height: 35px;
    text-align: center;
    padding: 8px;
    padding-right: 10px;
    text-decoration: none;
    color: black;

  }
}

.heroText{
  margin: 0;
  @include span-columns(8);
  @include shift(2);
  padding-top: 70px;
  color: white;
  text-align: center;
}

.hero{
  background-image: url(images/background.jpg);
  height: 200px;
  @include span-columns(12) ;
  margin-bottom: 50px;
}

.plan{
  @include span-columns(11);
  @include shift(.5);
  background: dodgerblue;
  text-align: center;
  margin-bottom: 35px;
  border: 2px black solid;
}

.plan .personal{
  background: #519251;
}

.plan .business{
  background: #2C4984;
}

.plan .enterprise{
  background: #111111;
}

.planType{
  @include span-columns(11);
  height: 222px;
  width: 100%;
  padding-top: 20px;

  h1{
    color: #fff;
    font-size: 72px;
    margin: 25px;
  }
  h2{
    color: #fff;
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
  }
  h3{
    color:#fff;
    font-size: 20px;
    margin: 0;
  }
}

.planFeatures{
  @include span-columns(11);
  background: #E5E5E5;
  height: 270px;
  width: 100%;
  position: relative;
  p{
    text-align: center;
    border-top: 2px black solid;
    height: 14.28%;
    margin: 0;
    padding-top: 7px;

  }
}

.planChoose{
  @include span-columns(11);
  display: block;
  background: yellow;
  height: 89px;
}

.action{
  @include span-columns(8);
  @include shift(1);
}

footer{

  @include span-columns(12);
  height: 100px;
  background: black;
  color: #8B8B8B;
  padding-top: 30px;

  span{
    @include span-columns (10);
    @include shift (1);
    text-align: center;
    a{
      color: white;
    }

  }
}


@media (min-width: 478px) {
    .hero{
      height: 400px;
      padding-top: 80px;

      .heroText{
        font-size: 40px;
        @include span-columns(10);
        @include shift(1);
      }
    }
    .action{
      @include span-columns(10);
    }
    footer{
      span{
      @include span-columns(8);
      @include shift(2);
      }
    }
}

@media (min-width: 767px){

  main{
    @include outer-container;
  }

  header{
    .logo{
      @include span-columns(1.5);
    }
    a{
      @include span-columns(1.5);
    }
  }

  .hero{
    height: 300px;
    padding-top: 60px;
    .heroText{
      @include span-columns(10);
    }
  }


  .plan{
    @include span-columns(4);
      margin: 5px;
  }

  .action{
    @include span-columns(12);
    margin:0;
  }
  .actionFeature{
    @include span-columns(5);
    @include omega(2n);
    @include shift(.5);
  }

}

@media (min-width: 978px) {

    main{
      @include outer-container;
    }

    header{
      .logo{
        @include span-columns(1);
      }
      a{
        @include span-columns(1);
      }
    }

    .hero{
      height: 300px;
      padding-top: 60px;
      .heroText{
        @include span-columns(10);
      }
    }

    .allplans{
      @include span-columns(10);
      @include shift (1);
    }

    .plan{
      @include span-columns(4);
        margin: 5px;
    }

    .action{
      @include span-columns(10);
      margin:0;
    }
    .actionFeature{
      @include span-columns(4);
      @include omega(2n);
      @include shift(2);
    }
}
